<button (click)="agregarPelicula()">Agregar pelicla</button>


<!--Nueva forma-->

<app-listado-generico [listado]="peliculas">
    <!-- <ng-container contenido> -->

    <<ng-content vacio>
        <span style="color: rebeccapurple;">No hay peliculas para ti</span>

        </ng-content>


        <ng-container contenido>

            @for (pelicula of peliculas; track $index) {
            <div class="contenedor-pelicula">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <div>
                        @if (pelicula.poster) {
                        <img [ngSrc]="pelicula.poster" priority="$index===0" width="169" height="250">
                        }
                        @else
                        {
                        <img src="default.jpg" width="169" height="250">
                        }
                    </div>
                    <div>
                        <p>{{$index}} Película: {{ pelicula.titulo | uppercase}} </p>
                        <p>Fecha lanzamiento: {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy" }}</p>
                        <p>Precio: {{pelicula.precio | currency }}</p>
                        <button mat-flat-button (click)="remover(pelicula)">Remover
                            <mat-icon>delete</mat-icon>
                        </button>

                    </div>
                </div>

            </div>

            }

        </ng-container>


</app-listado-generico>



<!-- <h2>listado-peliculas.component.html</h2>

<app-listado-generico [listado]="peliculas">
  <ng-container contenido>
    @for (pelicula of peliculas; track $index) {
      <div class="contenedor-pelicula">
        <div style="display: flex; flex-direction: row; gap: 10px">
          <div>
            @if (pelicula.poster){
            <img [src]="pelicula.poster" width="169" height="250" />
            } @else {
            <img src="default.jpg" width="169" height="250" />
            }
          </div>
          <div>
            <p>{{$index}} Película: {{pelicula.titulo }}</p>
            <p>Fecha Lanzamiento: {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy"}}</p>
            <p>Precio: {{pelicula.precio | currency}}</p>
            <button mat-flat-button (click)="remover(pelicula)">
     
              Remover</button>
          </div>
        </div>
      
      </div>
      }
  </ng-container>
</app-listado-generico> -->