<p>Pruebas 2</p>

<h4>Implementacion clasica con * ngForm</h4>


<div *ngFor="let pelicula of peliculas let indice = index">
  <p>{{indice}} Película: {{ pelicula.titulo | uppercase}} </p>
  <p>Fecha lanzamiento: {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy" }}</p>
  <p>Precio: {{pelicula.precio | currency }}</p>
</div>

<h4>Implementacion moderna con form</h4>

@for (pelicula of peliculas; track $index) {
<div>
  <p>{{$index}} Película: {{ pelicula.titulo | uppercase}} </p>
  <p>Fecha lanzamiento: {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy" }}</p>
  <p>Precio: {{pelicula.precio | currency }}</p>
</div>

}