<p>Pruebas 2</p>

<!-- <h4>Implementacion clasica con * ngForm</h4>



<div *ngFor="let pelicula of peliculas let indice = index">
  <p>{{indice}} Película: {{ pelicula.titulo | uppercase}} </p>
  <p>Fecha lanzamiento: {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy" }}</p>
  <p>Precio: {{pelicula.precio | currency }}</p>
</div> -->

<h4>Implementacion moderna con form</h4>
<!-- <div *ngIf="!peliculas ">
  <img src="https://miro.medium.com/max/882/1*9EBHIOzhE1XfMYoKz1JcsQ.gif" />
</div>

<div *ngIf="peliculas?.length===0">
  <p>No hay peliculas para mostrar</p>
</div> -->
<!-- 
<div *ngIf="peliculas && peliculas.length > 0">
  @for (pelicula of peliculas; track $index) {
  <div class="contenedor-pelicula">
    <div style="display: flex; flex-direction: row; gap: 10px;">
      <div>
        <img [ngSrc]="pelicula.poster" priority="$index===0" width="169" height="250">
      </div>
      <div>
        <p>{{$index}} Película: {{ pelicula.titulo | uppercase}} </p>
        <p>Fecha lanzamiento: {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy" }}</p>
        <p>Precio: {{pelicula.precio | currency }}</p>

      </div>
    </div>

  </div>

  }
</div> -->

<!--Nueva forma-->
@if (!peliculas ) {

    <img src="https://miro.medium.com/max/882/1*9EBHIOzhE1XfMYoKz1JcsQ.gif" />

}
@else if (peliculas.length===0) {
  <p>No hay peliculas para mostrar</p>
}
@else if (peliculas && peliculas.length > 0){
  @for (pelicula of peliculas; track $index) {
    <div class="contenedor-pelicula">
      <div style="display: flex; flex-direction: row; gap: 10px;">
        <div>
          <img [ngSrc]="pelicula.poster" priority="$index===0" width="169" height="250">
        </div>
        <div>
          <p>{{$index}} Película: {{ pelicula.titulo | uppercase}} </p>
          <p>Fecha lanzamiento: {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy" }}</p>
          <p>Precio: {{pelicula.precio | currency }}</p>
  
        </div>
      </div>
  
    </div>
  
    }
}
@else {

}
